:root {
    /* fonts */
    --headFont: "Montserrat", sans-serif;
    --textFont: "Raleway", sans-serif;

    /* colours */
    --themeColor: #B9B28A;
    --darkTextColour: #504B38;
    --lightTextColour: #F8F3D9;
}

/* main {
    background: linear-gradient(rgba(242, 239, 233, 0.8), rgba(242, 239, 233, 0.8)),
        url('../images/illustrative/edu1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

html {
    scroll-behavior: smooth;
}

main {
    overflow: hidden;
    /* For animations */
}

/* ==== navbar ==== */
#navbar {
    background-color: var(--themeColor) !important;
}

#nav {
    transition: all 0.4s ease-in-out !important;
    z-index: 1000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.3s ease-in-out;
}

.sticky-animate {
    animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#navimg {
    width: 2em;
}

.nav-link {
    font: 700 17px var(--headFont) !important;
    color: var(--darkTextColour) !important;
    transition: all .4s ease-in-out !important;
}

.nav-link:hover {
    color: var(--lightTextColour) !important;
    background-color: var(--themecolor);
    transform: scale(1.1) translateY(-5px);
    text-shadow: 1px 1px 10px var(--whitecolor);
}

/* ==== herosection ==== */
#herosection {
    margin: 120px 0px !important;
    /* padding: 120px 0px !important; */
}

#heroimg {
    filter: drop-shadow(0 0 25px var(--themeColor));
    animation: mymove 5s ease-in-out infinite;
    transition: all .4s ease !important;
    width: 80%;
    height: 95%;
}

#heroimg:hover {
    filter: drop-shadow(0 0 40px var(--themeColor));
}

@keyframes mymove {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.herohead1 {
    font: 700 21px var(--headFont);
    color: var(--darkTextColour);
}

.herohead2 {
    font: 700 40px var(--headFont);
    color: var(--darkTextColour);
}

.herohead1 span {
    color: var(--themeColor);
}

#herotext {
    font: 500 15px var(--textFont);
    line-height: 20px;
}

.herobtn {
    background-color: var(--themeColor);
    font: 600 14px var(--headFont);
    color: var(--lightTextColour);
    padding: 8px 30px !important;
    border-radius: 100px !important;
    transition: all .4s ease !important;
}

.herobtn:hover {
    box-shadow: 0px 0px 25px var(--themeColor);
}